// 第二页样式

.itemDetail {
  display: flex;
  margin-bottom: 15px;
}

.leftDiv {
  width: 190px;
  text-align: right;
  font-size: 14px;
}

.rightDiv {
  width: 180px;
  padding-left: 18px;
  display: flex;
  align-items: center;
  font-size: 14px;
  text-align: left;
}